openapi: 3.0.3
info:
  title: Image Composer API
  description: |
    API for AI-powered image generation and composition for social media posts.
    This service creates visually appealing images based on brand guidelines and content requirements.
  version: 1.0.0
  contact:
    name: AutoGenSocial Team
    email: support@autogensocial.com
  license:
    name: Proprietary

servers:
  - url: https://images.autogensocial.com/v1
    description: Production server
  - url: https://staging-images.autogensocial.com/v1
    description: Staging server
  - url: http://localhost:8081/v1
    description: Local development server

tags:
  - name: generation
    description: Image generation operations
  - name: templates
    description: Image template management
  - name: assets
    description: Asset management

paths:
  /generate:
    post:
      tags:
        - generation
      summary: Generate image
      description: Generate a social media image using AI based on prompt and brand guidelines
      operationId: generateImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - brandId
                - prompt
                - platform
              properties:
                brandId:
                  type: string
                  description: Brand identifier for applying brand guidelines
                prompt:
                  type: string
                  description: Text prompt describing the desired image
                  maxLength: 2000
                platform:
                  type: string
                  enum: [twitter, facebook, instagram, linkedin, tiktok, youtube]
                  description: Target platform (determines optimal dimensions)
                dimensions:
                  type: object
                  description: Custom dimensions (overrides platform defaults)
                  properties:
                    width:
                      type: integer
                      minimum: 200
                      maximum: 4096
                    height:
                      type: integer
                      minimum: 200
                      maximum: 4096
                style:
                  type: string
                  enum: [realistic, artistic, minimalist, abstract, corporate, vibrant]
                  description: Visual style for the image
                  default: realistic
                includeText:
                  type: boolean
                  description: Whether to include text overlay
                  default: false
                textContent:
                  type: string
                  description: Text to overlay on the image
                  maxLength: 500
                templateId:
                  type: string
                  description: Use a predefined template
                aspectRatio:
                  type: string
                  enum: ['1:1', '4:5', '16:9', '9:16', '4:3']
                  description: Aspect ratio for the image
                quality:
                  type: string
                  enum: [draft, standard, high]
                  default: standard
                  description: Image quality level
      responses:
        '200':
          description: Image generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  imageId:
                    type: string
                    description: Unique identifier for the generated image
                  url:
                    type: string
                    format: uri
                    description: URL to download the generated image
                  thumbnailUrl:
                    type: string
                    format: uri
                    description: URL to a thumbnail version
                  dimensions:
                    type: object
                    properties:
                      width:
                        type: integer
                      height:
                        type: integer
                  metadata:
                    type: object
                    properties:
                      generatedAt:
                        type: string
                        format: date-time
                      model:
                        type: string
                      prompt:
                        type: string
                      fileSize:
                        type: integer
                        description: File size in bytes
                      format:
                        type: string
                        enum: [png, jpg, webp]
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []

  /generate/batch:
    post:
      tags:
        - generation
      summary: Generate multiple images
      description: Generate multiple images in a single request
      operationId: batchGenerateImages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - requests
              properties:
                requests:
                  type: array
                  minItems: 1
                  maxItems: 10
                  items:
                    type: object
                    required:
                      - brandId
                      - prompt
                      - platform
                    properties:
                      brandId:
                        type: string
                      prompt:
                        type: string
                      platform:
                        type: string
                        enum: [twitter, facebook, instagram, linkedin, tiktok, youtube]
                      style:
                        type: string
                        enum: [realistic, artistic, minimalist, abstract, corporate, vibrant]
      responses:
        '200':
          description: Batch generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  batchId:
                    type: string
                  status:
                    type: string
                    enum: [processing, completed, failed]
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        imageId:
                          type: string
                        url:
                          type: string
                        status:
                          type: string
                          enum: [pending, completed, failed]
      security:
        - bearerAuth: []

  /images/{imageId}:
    get:
      tags:
        - generation
      summary: Get image details
      description: Retrieve metadata and URL for a generated image
      operationId: getImageById
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  imageId:
                    type: string
                  url:
                    type: string
                    format: uri
                  thumbnailUrl:
                    type: string
                    format: uri
                  dimensions:
                    type: object
                    properties:
                      width:
                        type: integer
                      height:
                        type: integer
                  metadata:
                    type: object
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
        - bearerAuth: []
    
    delete:
      tags:
        - generation
      summary: Delete image
      description: Delete a generated image
      operationId: deleteImage
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Image deleted successfully
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
        - bearerAuth: []

  /images/{imageId}/variations:
    post:
      tags:
        - generation
      summary: Generate variations
      description: Generate variations of an existing image
      operationId: generateImageVariations
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                count:
                  type: integer
                  minimum: 1
                  maximum: 5
                  default: 3
                variationType:
                  type: string
                  enum: [style, color, composition]
                  default: style
      responses:
        '200':
          description: Variations generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  variations:
                    type: array
                    items:
                      type: object
                      properties:
                        imageId:
                          type: string
                        url:
                          type: string
      security:
        - bearerAuth: []

  /templates:
    get:
      tags:
        - templates
      summary: List templates
      description: Get all available image templates
      operationId: listTemplates
      parameters:
        - name: platform
          in: query
          schema:
            type: string
            enum: [twitter, facebook, instagram, linkedin, tiktok, youtube]
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
      security:
        - bearerAuth: []
    
    post:
      tags:
        - templates
      summary: Create template
      description: Create a new image template
      operationId: createTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Template'
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
      security:
        - bearerAuth: []

  /templates/{templateId}:
    get:
      tags:
        - templates
      summary: Get template
      operationId: getTemplateById
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
      security:
        - bearerAuth: []

  /assets:
    post:
      tags:
        - assets
      summary: Upload asset
      description: Upload a custom image asset (logo, background, etc.)
      operationId: uploadAsset
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - brandId
              properties:
                file:
                  type: string
                  format: binary
                brandId:
                  type: string
                assetType:
                  type: string
                  enum: [logo, background, overlay, icon]
                name:
                  type: string
      responses:
        '201':
          description: Asset uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  assetId:
                    type: string
                  url:
                    type: string
                    format: uri
                  thumbnailUrl:
                    type: string
                    format: uri
      security:
        - bearerAuth: []

components:
  schemas:
    Template:
      type: object
      properties:
        templateId:
          type: string
        name:
          type: string
        description:
          type: string
        platform:
          type: string
          enum: [twitter, facebook, instagram, linkedin, tiktok, youtube]
        dimensions:
          type: object
          properties:
            width:
              type: integer
            height:
              type: integer
        previewUrl:
          type: string
          format: uri
        category:
          type: string
        createdAt:
          type: string
          format: date-time
    
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object

  responses:
    UnauthorizedError:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    BadRequestError:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
